.showAPIRespone{
    justify-content: space-evenly;
    border-radius: 1rem;
    -webkit-box-shadow: inset 0px 0px 17px 7px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 17px 7px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 17px 7px rgba(255, 255, 255, 1);
}

.weather-element{
    min-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
        font-size: 1.2rem;
    }

    &:nth-child(2) {
        font-size: 4.5rem;
    }

    &:nth-child(3) {
        font-size: 1.7rem;
    }
}