.weather-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: .5rem;
    grid-template-areas:
        "it2 it1 it1 it4"
        "it3 it1 it1 it5";

    .item-1 {
        grid-area: it1;
        font-size: 8rem;
        
        .weather-table__item{
            min-height: 20.5rem;
        }
    }

    .item-2 {
        grid-area: it2;
        font-size: 2rem;
    }

    .item-3 {
        font-size: 2rem;
        grid-area: it3;
    }

    .item-4 {
        grid-area: it4;
        font-size: 2rem;
    }

    .item-5 {
        grid-area: it5;
        font-size: 2rem;
    }

    .weather-table__item {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 10rem;

        .icon{
            font-size: 4rem;
            margin-bottom: 1rem;
        }
    }

}
