.container{
    position: relative;

    .weather-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: .5rem;
        grid-template-areas:
            "it2 it1 it1 it4"
            "it3 it1 it1 it5"
            "it6 it7 it8 it9";
    
        .item-1 {
            grid-area: it1;
            font-size: 6rem;
            
            .weather-table__item{
                min-height: 20.5rem;
            }
        }
    
        .item-2 {
            grid-area: it2;
            font-size: 1.5rem;
        }
    
        .item-3 {
            font-size: 1.5rem;
            grid-area: it3;
        }
    
        .item-4 {
            grid-area: it4;
            font-size: 1.5rem;
        }
    
        .item-5 {
            grid-area: it5;
            font-size: 1.5rem;
        }
    
        .item-6 {
            grid-area: it6;
            font-size: 1.5rem;
        }
    
        .item-7 {
            grid-area: it7;
            font-size: 1.5rem;
        }
    
        .item-8 {
            grid-area: it8;
            font-size: 1.5rem;
        }
    
        .item-9 {
            grid-area: it9;
            font-size: 1.5rem;
        }
    
        .weather-table__item {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            height: 10rem;
    
            .icon{
                width: 3rem;
                font-size: 3rem;
                margin-bottom: 1rem;
            }
    
            .country {
                font-size: 1rem;
                background-color: transparent;
            }
    
            .weather__img{
                width: 5rem;
                margin-bottom: -1.5rem;
            }
    
            .temp_feels_like{
                margin-top: -3rem;
                font-size: 1.3rem;
            }
    
        }
    
    }
    
}